/* dashboard.css */

/* Camera Feed */
.camera-feed {
    position: absolute;
    top: 210px; /* 15px below the header */
    width: 900px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    z-index: 10; /* Ensure the camera feed is on top of other content */
}

.dashboard-content {
    position: absolute;
    top: 70px;
    left: 270px;
}