
/* Footer.css: Updated for responsiveness */
.footer {
    background-color: rgb(78, 110, 108);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px; /* Adds space before the footer */
}

@media (max-width: 768px) {
    .footer {
        padding: 15px;
        font-size: 14px;
    }
}