body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    text-align: center;
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
}

h1, h2 {
    margin: 0;
    font-weight: normal;
}

h2 {
    font-size: 1.5rem;
    color: #555;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.login-box {
    background-color: #4f625e;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.login-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.icon {
    margin-bottom: 15px;
}

.icon img {
    width: 50px;
    animation: bounce 2s infinite;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

input:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    outline: none;
}

button {
    padding: 10px;
    background-color: #2f3e3b;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #222c29;
    transform: translateY(-2px);
}

.forgot-pass {
    color: #ccc;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s;
}

.forgot-pass:hover {
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.header {
    background-color: #e0e1e5;
    text-align: center;
    padding: 10px 0;
}

.header h1 {
    font-size: 2rem;
    font-family: 'Lucida Handwriting', cursive;
    margin: 0;
}
.login-footer{
    background-color: #d3d3d3;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
}